-e .
black==24.10.0
coverage==7.6.9
mypy==1.13.0
pdoc==15.0.1
pip==24.3.1
pre-commit==4.0.1
pytest-cov==6.0.0
pytest==8.3.4
ruff==0.8.4


aiohttp==3.11.11
async-timeout==5.0.1
google-api-core==2.24.0
google-auth==2.29.0
google-cloud-pubsub==2.27.1
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
protobuf==5.29.2
pytest-aiohttp==1.0.5
pytest-asyncio==0.25.0
pytest-mock==3.14.0
PyYAML==6.0.2
types-futures==3.3.8
types-protobuf==5.29.1.20241207
types-PyYAML==6.0.12.20240917
typing-extensions==4.12.2
typing-inspect==0.9.0
urllib3==2.2.3
mashumaro==3.15
