aiohttp==3.8.4
async-timeout==4.0.2
attrs==22.2.0
black==23.1.0
coverage==7.2.0
flake8==6.0.0
flake8-black==0.3.6
google-api-core==2.11.0
google-auth==2.16.1
google-cloud-pubsub==2.15.0
googleapis-common-protos==1.58.0
grpc-google-iam-v1==0.12.6
grpcio==1.51.3
grpcio-status==1.51.3
isort==5.12.0
libcst==0.4.9
mock==5.0.1
mypy==1.0.1
mypy-extensions==1.0.0
pre-commit==3.1.0
protobuf==4.22.0
pydantic==1.10.5
pytest==7.2.1
pytest-aiohttp==1.0.4
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-mock==3.10.0
PyYAML==6.0
regex==2022.10.31
typed-ast==1.5.4
types-futures==3.3.8
types-protobuf==4.21.0.5
types-PyYAML==6.0.12.5
typing-extensions==4.4.0
typing-inspect==0.8.0
urllib3==1.26.14
virtualenv==20.19.0
yarl==1.8.2
