-e .
coverage==7.14.1
ty==0.0.18
pdoc==16.0.0
pip==26.1.1
pre-commit==4.6.0
pytest-cov==7.1.0
pytest==8.4.2
ruff==0.15.14


aiohttp==3.13.5
google-api-core==2.30.3
google-auth==2.53.0
google-cloud-pubsub==2.38.0
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.80.0
protobuf==6.33.6
pytest-aiohttp==1.1.0
pytest-asyncio==1.4.0
PyYAML==6.0.3
urllib3==2.6.3
mashumaro==3.22
