aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
autoflake==1.4
backports.entry-points-selectable==1.1.1
black==22.1.0
cachetools==4.2.4
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
coverage==6.3.1
distlib==0.3.4
filelock==3.4.2
flake8==4.0.1
flake8-black==0.2.3
frozenlist==1.3.0
google-api-core==2.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.2
google-cloud-pubsub==2.9.0
google-cloud-resource-manager==1.3.3
googleapis-common-protos==1.54.0
grpc-google-iam-v1==0.12.3
grpcio==1.43.0
grpcio-status==1.43.0
httplib2==0.20.4
identify==2.4.8
idna==3.3
iniconfig==1.1.1
isort==5.10.1
libcst==0.4.1
mccabe==0.6.1
mock==4.0.3
multidict==6.0.2
mypy==0.931
mypy-extensions==0.4.3
nodeenv==1.6.0
oauthlib==3.2.0
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.17.0
proto-plus==1.20.0
protobuf==3.19.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.0
pytest-aiohttp==1.0.3
pytest-asyncio==0.18.0
pytest-cov==3.0.0
pytest-mock==3.7.0
pytz==2021.3
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
toml==0.10.2
tomli==2.0.0
typed-ast==1.5.2
types-futures==3.3.8
types-protobuf==3.19.10
types-PyYAML==6.0.4
typing-extensions==4.0.1
typing-inspect==0.7.1
unittest2pytest==0.4
urllib3==1.26.8
virtualenv==20.13.1
yarl==1.7.2
