-e .
aiohttp==3.8.6
async-timeout==4.0.3
black==23.10.1
coverage==7.3.2
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-pubsub==2.18.4
googleapis-common-protos==1.61.0
grpcio==1.59.0
grpcio-status==1.59.0
mypy==1.6.1
pre-commit==3.5.0
protobuf==4.24.4
pydantic==2.4.2
pytest==7.4.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.12.0
PyYAML==6.0.1
typed-ast==1.5.5
types-futures==3.3.8
types-protobuf==4.24.0.3
types-PyYAML==6.0.12.12
typing-extensions==4.8.0
typing-inspect==0.9.0
urllib3==2.0.7
ruff==0.1.3
pdoc==14.1.0
